<%- include('layout/header.ejs') %>

    <h2 class="mb-4">
        <%=user.name%>
    </h2>
    <div class="row">
        <div class="bg-light col-md-3">
            <a href="/dashboard"
                class="d-flex text-decoration-none align-items-center text-black py-2 fs-5 bg-warning list-group-item">
                <span class="fs-4 d-none d-sm-inline px-3">
                    <img src="<%= './uploads/'+user.profilePic %>" alt=""
                        style="height:50px; width:50px; border-radius: 50%;">
                    <%= user.name %>
                </span>
            </a>
            <ul class="list-group">
                <% if(users.length> 0 ) {
                    for(var i=0; i<users.length; i++) { %>
                        <li class="list-group-item list-group-item-dark user-list cursor-pointer"
                            style="cursor:pointer">
                            <img src="<%= './uploads/'+users[i].profilePic %>" alt=""
                                style="height:50px; width:50px; border-radius: 50%;">
                            <%= users[i].name %>
                        </li>
                        <% } } %>
            </ul>
        </div>

        <div class="col-md-9">
            <h3 class="start-head">Click To Start Chat</h3>

            <div class="chat-section" style="display: none;">
                <div id="chat-container"
                    style="background-color: lightblue; width: 100%; height: 700px; overflow: scroll;">

                </div>

                <form id="chat-form" action="">
                    <input type="text" name="message" placeholder="Please Type Your Message" id="message"
                        style="width: 86%;" class="border p-2" required>
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </form>
            </div>
        </div>
    </div>

    <script src="http://localhost:3500/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:3500');


        $(document).ready(function () {
            $('.user-list').click(function () {
                $('.start-head').hide();
                $('.chat-section').show();
            })

        })
    </script>
    <%- include('layout/footer.ejs') %>